<table class="table">
    <thead>
        <tr>
            <th>User PC</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Solved</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let issuesInfo of issuesData">
          <td>{{issuesInfo.userPC}}</td>
          <td>{{issuesInfo.title}}</td>
          <td>{{issuesInfo.description}}</td>
          <td>{{issuesInfo.priority}}</td>
          <td>{{issuesInfo.isComplete}}</td>
          <td><a href="#" (click)="editIssue(this)">Edit</a>
            <a href="#" (click)="deleteIssue(this)">Delete</a></td>
        </tr>

    </tbody>
</table>
